# Gradle files
.gradle/
build/

# Local configuration
local.properties

# Log files
*.log

# Android Studio
.idea/
*.iml
*.hprof

# APK / AAB / output
*.apk
*.aab
*.apks
# Local backup files
*.backup
*.backup_*

